@tailwind base;
@tailwind components;
@tailwind utilities;

/* In your global CSS file or a component-specific CSS file */
.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
  
.react-horizontal-scrolling-menu--scroll-container {
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
    scrollbar-width: none;  /* For Firefox */
  }

  .exercise-card {
    width: 400px;
    height: 445px;
    background: #fff;
    border-top: 4px solid #FF2625;
    border-bottom-left-radius: 20px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 10px;
    transform: scale(1, 1);
    transition: 0.3s all ease-in-out;
  }
  
.exercise-card img {
    height: 326px;
  }
.gradient-button{
  @apply text-white bg-gradient-to-r from-light-green via-tan to-brown hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-tan  font-medium rounded-lg text-sm px-5 py-2.5 text-center mb-4;
}